
nav {
    /* border: 1px solid red; */
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: underline;
   
  }
  
  ul {
    display: flex;
    
  }
  
  ul li {
    margin-left: 20px;
    list-style-type: none;
  }
  
  .banner {
    border: 1px solid blue;
    display: flex;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("https://www.phaidon.com/resource/cptamerica2.jpg");
    background-size: cover;
  }
  
  .banner p {
    background: blue;
    padding: 10px;
    width: 200px;
    height: 20px;
    color: #FFF;
  }
  
  .about, .projects {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .about h2, .projects h2 {
    width: 15%;
    border-right: 4px solid gray;
    padding-right: 4px solid gray;
  }
  
  .about div, .projects .list-projects {
    width: 80%;
  }
  
  .list-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .list-projects .project-item {
    width: 45%;
    background-color: red;
    border: 5px solid blue;
    height: 200px;
    margin: 10px;
  }
  
  .list-projects .project-item:first-child {
    width: 100%;
  }
  
  .project-detail {
    margin-top: 70px;
    border: 3px solid blue;
    border-left: none;
    text-align: center;
    width: 150px;
    height: 90px;
  }
  